@inherits LayoutComponentBase
@namespace Manager.Shared


        

@*<Restricted>
    <Yes>
        <div class="sidebar">
            <NavMenu />
        </div>
    </Yes>    
</Restricted>*@

<header>
    <Restricted>
        <Yes>
            <System_Admin.Shared.TopBar IsLoggedIn="true"></System_Admin.Shared.TopBar>
        </Yes>
        <No>
            <System_Admin.Shared.TopBar IsLoggedIn="false"></System_Admin.Shared.TopBar>
        </No>
    </Restricted>
</header>




<div class="main">

    <BlazoredToasts Position="ToastPosition.TopRight"
                    Timeout="5"
                   
                    SuccessIconClass="oi oi-thumb-up">

    </BlazoredToasts>

    <BlazoredModal />


    <div class="container main-container">
        @Body
    </div>

</div>


