

.button-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 70% 30%;
    align-items: center;
    height: 75%;
    width: 100%;
}

.grid-item {
    height: 100%;
    opacity: 0.8;
}
.card-button {
    height: 100%;
}

.staff-sign-in {
    grid-column: 2 / span 2;
}