form {
    width: 50%;    
    margin: auto;
}

.background {
    background-image: url('../images/shaking.jpg');
    background-repeat: no-repeat;
    background-size: cover;
} 

.card {
    opacity: 0.8;
}
