.staff-keypad-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    height: 100%;    
    align-items: center;
    justify-items: center;
}

.staff-keypad-item {
    height: 85%;
    width: 50%;    
}

@media (min-width: 0px) and (max-width: 1024px) {
  
    .staff-keypad-item {
        width: 75%;
    }
    
  }

.keypad-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 100%;          
}

.number-card {
    display: grid;
    align-items: center;
    height: 100%;
}

.numpad-wrapper {
    padding: 1rem;
    height: 100%;
}
