.root {
    text-align: center;    
    overflow-y: scroll;
    height: 100%;
}

.root-inner {
    width: 80%;
    padding: 2%;
}

.error-alert {
    width: 100%;    
}

.visitor-submit {
    margin: 2px;
}

