@page "/"
<style>
    .center-wrapper {
        margin: auto;
        height: 100%;
        width: 100%;
    }
</style>



<div class="center-wrapper">
    <h1>VMS System Admin</h1>

    <a href="/system-admin-login">Please login here.</a>
</div>

