@page "/create-business"
    <div class="padder">
        <Restricted IsPageRestriction="true">

            <Yes>

                <div class="container">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <div class="card-text">
                                <h4> Create Business</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <CreateBusinessForm></CreateBusinessForm>
                        </div>
                    </div>
                </div>

            </Yes>

        </Restricted>
    </div>