@page "/hub"

<section>
    <SignalRClient.Components.Status></SignalRClient.Components.Status>
</section>
    <SignalRClient.Components.Operations></SignalRClient.Components.Operations>
<section>
    
</section>