@page "/counter"


<Restricted>
  <p>Current count: @currentCount</p>

    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>    
</Restricted>
 
    
@code {
    int currentCount = 0;

    void IncrementCount()
    {
        currentCount++;
    }
}
