body {
  /* background-color: #282c34; */
}

.log-list-wrapper {
  font-size: 0.75rem;
  max-height: 45rem;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 1rem;
}

.log-header-item {
  font-size: 0.9rem;
  font-weight: bold;
}

.list-group-item {
  padding: 2px;
}

.app-container {
  margin-left: 2rem;
  margin-right: 2rem;
}