@page "/businesses"
@inject BusinessService  BusinessService
@inject DevelopmentSettings  Settings

<style>
    .header-section {
        height: 40%;
        margin-bottom: 0px;        
        background-color: #fff;
    }    
    .summaries-section {
        height: 60%;
        padding-top: 1rem;
    }
</style>

<Restricted>
    <Yes>
        <section class="jumbotron text-center header-section">
            <div class="container">
                <h1 class="jumbotron-heading">Business Management</h1>
                <p class="lead text-muted">This area will allow for the management of businesses. You can creata new one below and view existing in the section below.</p>
                <p>
                    <NavLink class="btn btn-primary" href="create-business">
                        <i class="fas fa-add"></i> Add Business
                    </NavLink>
                </p>
            </div>
        </section>

        <section class="bg-light summaries-section">
            <App.Businesses.Components.BusinessSummaries Summaries="@Summaries"></App.Businesses.Components.BusinessSummaries>
        </section>
    </Yes>
</Restricted>



@code {

    IEnumerable<BusinessSummary> Summaries { get; set; } = new List<BusinessSummary>();

    protected override async Task OnInitializedAsync()
    {
        if (Settings.IsMockData) CreateMockData();
        else Summaries = await BusinessService.GetBusinessSummariesAsync();
        await base.OnInitializedAsync();
    }


    private void CreateMockData()
    {
        Summaries = new List<BusinessSummary>
{
            new BusinessSummary
            {
                Name = "Business 1",
                TradingName = "Business 1 LTD",
                SiteCount = 2
            },
            new BusinessSummary
            {
                Name = "Business 2",
                TradingName = "Business 2 LTD",
                SiteCount = 100
            },
            new BusinessSummary
            {
                Name = "Business 3",
                TradingName = "Business 3 LTD",
                SiteCount = 0
            },
            new BusinessSummary
            {
                Name = "Business 4",
                TradingName = "Business 4 LTD",
                SiteCount = 1
            },
            new BusinessSummary
            {
                Name = "Business 5",
                TradingName = "Business 5 LTD",
                SiteCount = 25
            }
        };
    }
}