@page "/businesses"

<h3>Businesses</h3>

<header>
    <NavLink href="create-business" class="btn btn-primary">Create Business</NavLink>
</header>

<section>
    This is where I am planning to look like GitHub :)
</section>