@inject DevelopmentSettings DevelopmentSettings
@inject BusinessService BusinessService
@inject ILoadingService LoadingService
@inject IPubSubService  PubSubService
@page "/business-profile/{id}"

<style>
    .business-header {
        margin-bottom: 0px;
    }
</style>

<Indicator Context="business-profile">
    <section class="jumbotron business-header">
        <App.Businesses.Components.BusinessProfileHeader Business="@Business"></App.Businesses.Components.BusinessProfileHeader>
    </section>

    <section class="bg-light sites-list">
    </section>
</Indicator>



@code {
    [Parameter]
    public string Id { get; set; }

    Guid Guid { get; set; }

    public Business Business { get; set; }

    protected async override Task OnInitializedAsync()
    {
        PubSubService.Subscribe<UpdateBusinessProfile>(Notify);


        await base.OnInitializedAsync();
    }

    Task LoadData() => LoadingService.StartTaskAsync(async (task) => {
            if (DevelopmentSettings.IsMockData) await LoadMockData();
            else await GetBusiness();
        }, "business-profile");
    

    protected override async Task OnParametersSetAsync()
    {
        await LoadData();
        await base.OnParametersSetAsync();
    }

    private async Task GetBusiness()
    {
        Guid = Guid.Parse(Id);
        Business = await BusinessService.GetBusiness(Guid);
    }

    public async Task Notify()
    {
        Business = null;
        await LoadData();
    }

    private async Task LoadMockData()
    {
        await Task.Run(() =>
        {
            Thread.Sleep(1000);
        });
        Business = new Business
        {
            Name = "Pro Sports Cars",
            TradingName = "Sports Cars LTD",
            WebAddress = "http://www.google.co.uk",
            Contact = new HeadContact()
            {
                FirstName = "John",
                SecondName = "Wheelan",
                Email = "john.wheelan@outlook.com",
                ContactNumber = "07568765123"
            },
            Office = new HeadOffice
            {
                AddressLine1 = "100 Chest Street",
                AddressLine2 = "Hull",
                PostCode = "HU13 7YJ"
            }
        };
    }
}
