@page "/create-business"

<Restricted IsPageRestriction="true">

<Yes>

    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3>Create Business</h3>
            </div>
            <div class="card-body">
                <CreateBusinessForm></CreateBusinessForm>
            </div>
        </div>
    </div>

</Yes>

</Restricted>